body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

.container {
    max-width: 100%;
    margin: 20px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    background-color: #fff;
}

.field-group {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.field {
    flex: 1;
    margin-right: 10px;
}

.field label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
}

.field input,
.field textarea {
    width: 100%;
    padding: 8px;
    box-sizing: border-box;
    margin-bottom: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.field-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}

.field-icon button {
    background-color: transparent;
    border: none;
    cursor: pointer;
    font-size: 2em;
    color: #007BFF;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
    transition: color 0.3s, transform 0.1s;
}

.field-icon button:hover {
    color: #0056b3;
}

.field-icon button:active {
    transform: scale(0.9);
    color: #007BFF; /* Keep the same color on active */
}

.field-icon button:focus {
    outline: none;
    box-shadow: none;
}

.field textarea {
    resize: none;
    height: auto; /* Ensure the textarea grows to fit its content */
}

button {
    padding: 10px;
    background-color: #007BFF;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1em;
    display: block;
    width: 100%;
    margin-bottom: 15px;
    transition: background-color 0.3s, transform 0.1s;
}

button:hover {
    background-color: #0056b3;
}

button:active {
    background-color: #0056b3; /* Keep the same background color on active */
    transform: scale(0.98);
}

button:focus {
    outline: none;
    box-shadow: none;
}

@media (min-width: 768px) {
    .container {
        max-width: 600px;
        margin: 40px auto;
    }
}
